<div class="chat">
    <div id="messages"></div>
    <form id="message_form">
        <input type="text" id="message_input" autocomplete="off" placeholder="Escribe un mensaje">
        <button type="submit">
            <img src="/icons/paper-plane.svg" alt="">
        </button>
    </form>
</div>

<script>const chat_name="<%=chat_name%>";</script>
<script type="module" src="/js/group-chat.js"></script>
