<div class="auth login">
    <form id="auth-form" action="">
        <fieldset>
            <legend>Username</legend>
            <input type="text" id="username">
        </fieldset>
        <fieldset>
            <legend>Password</legend>
            <input type="password" id="password">
        </fieldset>
        <button type="submit">Login</button>
    </form>
</div>

<script src="/js/login.js" type="module"></script>